.content-title {
    padding: 20px 0;
}

.contact-form__group {
    width: 60%;
    margin: 0 auto;
}

.contact-table {
    width: 100%;
}

.contact-table__header-require {
    margin-left: 10px;
    color: #ff9494;
}

.contact-table__header {
    width: 30%;
    text-align: left;
    padding: 15px 0;
}

.contact-table__item {
    padding: 15px 0;
    width: 70%;
}

.contact-form__item-input {
    padding: 15px 20px;
    font-size: 12px;
    border: none;
    background-color: #f4f4f4;
    width: 100%;
}

.contact-form__textarea {
    padding: 15px 20px;
    font-size: 12px;
    border: none;
    background-color: #f4f4f4;
    width: 100%;
    height: 150px;
}

.name-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-form__name {
    width: 45%;
}

.contact-form__gender-label {
    padding: 0 15px;
}

.tel-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form__tel {
    width: 31%;
}

.contact-form__select {
    width: 50%;
}

.confirm__button {
    margin: 30px 0;
    text-align: center;
}