main {
    background: #f1ece7;
}

.content-title {
    padding: 30px 0;
}

.register-form__group {
    width: 50%;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #fff;
    border: 1px solid #c5b9b0;
    border-radius: 5px;
}

.register-form,
.login-form {
    width: 50%;
    margin: 0 auto;
}

.register-form__title,
.login-form__title {
    margin-bottom: 10px;
}

.register-form__title:not(:first-child),
.login-form__title:not(:first-child) {
    margin-top: 30px;
}

.register-form__item-input,
.login-form__item-input {
    padding: 15px 20px;
    font-size: 12px;
    width: 100%;
    border: none;
    background-color: #f4f4f4;
}

.error-message {
    color: #ff9494;
    margin-bottom: 15px;
}

.register-form__button {
    margin-top: 30px;
    text-align: center;
}